@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

@font-face {
  font-family: Monserrat;
  src: url(assets/fonts/Montserrat-Regular.ttf);
}

:root {
  --white: #fcfcfc;
  --pink01: #dd55a0;
  --pink02: #e363a6;
  --pink03: #e972ad;
  --pink04: #ef81b4;
  --font-family-sans-serif: Monserrat;
}
* {
  font-family: 'Jost', Monserrat, sans-serif;
}

.table-pink,
.table-pink > th,
.table-pink > td {
  background-color: var(--pink04);
}

.table-pink th,
.table-pink td,
.table-pink thead th,
.table-pink tbody + tbody {
  border-color: var(--pink03);
}

.table-hover .table-pink:hover {
  background-color: var(--pink02);
}

.table-hover .table-pink:hover > td,
.table-hover .table-pink:hover > th {
  background-color: var(--pink02);
}

.btn-pink {
  color: var(--white);
  background-color: var(--pink01);
  border-color: var(--pink01);
}

.btn-pink:hover {
  color: var(--white);
  background-color: var(--pink02);
  border-color: var(--pink02);
}

.btn-pink:focus,
.btn-pink.focus {
  color: var(--white);
  background-color: var(--pink03);
  border-color: var(--pink03);
  box-shadow: 0 0 0 0.2rem rgba(241, 98, 246, 0.5);
}

.btn-pink.disabled,
.btn-pink:disabled {
  color: var(--white);
  background-color: var(--pink04);
  border-color: var(--pink04);
}

.btn-pink:not(:disabled):not(.disabled):active,
.btn-pink:not(:disabled):not(.disabled).active,
.show > .btn-pink.dropdown-toggle {
  color: var(--white);
  background-color: var(--pink03);
  border-color: var(--pink03);
}

.btn-pink:not(:disabled):not(.disabled):active:focus,
.btn-pink:not(:disabled):not(.disabled).active:focus,
.show > .btn-pink.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(241, 98, 246, 0.5);
}

.btn-outline-pink {
  color: var(--pink01);
  border-color: var(--pink01);
}

.btn-outline-pink:hover {
  color: var(--white);
  background-color: var(--pink02);
  border-color: var(--pink02);
}

.btn-outline-pink:focus,
.btn-outline-pink.focus {
  box-shadow: 0 0 0 0.2rem rgba(241, 98, 246, 0.5);
}

.btn-outline-pink.disabled,
.btn-outline-pink:disabled {
  color: var(--pink04);
  background-color: transparent;
}

.btn-outline-pink:not(:disabled):not(.disabled):active,
.btn-outline-pink:not(:disabled):not(.disabled).active,
.show > .btn-outline-pink.dropdown-toggle {
  color: var(--white);
  background-color: var(--pink03);
  border-color: var(--pink03);
}

.btn-outline-pink:not(:disabled):not(.disabled):active:focus,
.btn-outline-pink:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-pink.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(241, 98, 246, 0.5);
}

.badge-pink {
  color: var(--white);
  background-color: var(--pink01);
}

a.badge-pink:hover,
a.badge-pink:focus {
  color: var(--white);
  background-color: var(--pink03);
}

a.badge-pink:focus,
a.badge-pink.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(241, 98, 246, 0.5);
}

.alert-pink {
  color: var(--pink01);
  background-color: var(--pink04);
  border-color: var(--pink02);
}

.alert-pink hr {
  border-top-color: var(--pink02);
}

.alert-pink .alert-link {
  color: var(--pink01);
}

.list-group-item-pink {
  color: var(--pink01);
  background-color: var(--pink04);
}

.list-group-item-pink.list-group-item-action:hover,
.list-group-item-pink.list-group-item-action:focus {
  color: var(--pink01);
  background-color: var(--pink03);
}

.list-group-item-pink.list-group-item-action.active {
  color: var(--white);
  background-color: var(--pink01);
  border-color: var(--pink01);
}
.bg-pink {
  background-color: var(--pink01) !important;
  color: var(--white);
}

a.bg-pink:hover,
a.bg-pink:focus,
button.bg-pink:hover,
button.bg-pink:focus {
  background-color: var(--pink02) !important;
}

.border-pink {
  border-color: var(--pink02) !important;
}
.text-pink {
  color: var(--pink01) !important;
}

a.text-pink:hover,
a.text-pink:focus {
  color: var(--pink02) !important;
}
